.custom-image {
    width: 100%; /* Адаптируется по ширине контейнера */
    max-width: 800px; /* Максимальная ширина на больших экранах */
    height: auto; /* Автоматически подстраивается высота */
    object-fit: cover; /* Сохраняет пропорции и обрезает изображение, если оно выходит за границы */
    margin: 0 auto; /* Центрирует изображение, если ширина меньше контейнера */
  }
  
  /* Настройки для мобильных устройств */
  @media (max-width: 768px) {
    .custom-image {
      max-width: 100%; /* На мобильных устройствах изображение занимает всю ширину контейнера */
      max-height: 300px; /* Ограничение по высоте для более компактного вида */
    }
  }

  .form-narrow {
    max-width: 500px; /* Устанавливаем желаемую максимальную ширину */
    width: 100%; /* Позволяем уменьшаться на маленьких экранах */
  }
  
  